* {
  box-sizing: border-box;
}

:root {
  --title-font-family: "GongGothicBold";
  --projects-font-family: "SeoulNamsanM";
  --skill-react-color: #61dafb;
  --skill-firebase-color: #ffca28;
  --skill-javascript-color: #f7df1e;
  --skill-html-color: #e34f26;
  --skill-css-color: #1572b6;
  --skill-postcss-color: #dd3a0a;
  --skill-naver-color: #19ce60;
  --skill-ckeditor-color: #4caf50;
  --shadow-color: #babecc;
}

@font-face {
  font-family: "GongGothicBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SeoulNamsanM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.projects {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 290%;
  width: 100%;
  height: auto;
  font-size: 16px;
  animation: fadeIn 2s;
}

.projects_invisible {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 290%;
  width: 100%;
  height: auto;
  font-size: 16px;
  opacity: 0;
}

.projects_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.projects_title {
  margin: 3rem auto;
  color: black;
  font-family: var(--title-font-family);
  font-size: 2.3rem;
}

.project {
  display: flex;
  width: 80%;
  height: 30rem;
  margin: 1rem auto;
  padding: 1rem;
  align-items: center;
  background-color: white;
  border-radius: 16px;
}

.project_description {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.project_img {
  display: flex;
  flex-direction: column;
  height: 30rem;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
}

.project_link {
  display: block;
  width: 7rem;
  height: 2rem;
  margin: 0.5rem auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: black;
  border-radius: 1rem;
  line-height: 2rem;
  margin-top: 1rem;
  font-family: var(--projects-font-family);
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px var(--shadow-color);
  transition: all 0.1s ease;
}

.project_github:hover,
.project_link:hover {
  transform: scale(1.1);
}

.project_github {
  display: block;
  width: 7rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: black;
  font-family: var(--projects-font-family);
  font-size: 1.1rem;
  border-radius: 1rem;
  line-height: 2rem;
  margin-top: 0.5rem;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px var(--shadow-color);
  transition: all 0.1s ease;
}

.project_img > img {
  height: 20rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 8px rgba(109, 108, 108, 0.719);
}

.project_name {
  font-family: var(--projects-font-family);
  font-size: 1.8rem;
  margin: 1.5rem 0;
}

.project_description_text {
  display: flex;
  flex-direction: column;
  font-family: var(--projects-font-family);
  width: 60%;
  margin: auto;
}

.project_description_text > p {
  margin: 0.5rem 0;
  margin-left: 1rem;
  font-weight: 600;
}

.project_description_text > p:first-child {
  font-weight: 600;
}

.project_description_text > p:nth-child(2) {
  color: blue;
}

.project_description_text > ul {
  margin: 0.5rem 0;
}

.project_description_text > ul > li {
  margin: 0.5rem 0;
  color: gray;
}

.project_skills_title {
  font-family: var(--projects-font-family);
  font-weight: 600;
}

.project_skill_stack {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
}

.project_skill_stack > div {
  display: flex;
  flex-direction: row;
  width: 6rem;
  height: 1.8rem;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  text-align: center;
  line-height: 1.8rem;
  font-family: var(--projects-font-family);
  font-weight: 700;
  font-size: 0.9rem;
}

.project_skill_stack > div > p {
  margin-left: 0.5rem;
  color: white;
}

.project_skill_stack > div:nth-child(1) {
  background-color: var(--skill-react-color);
}

.project_skill_stack > div:nth-child(2) {
  background-color: var(--skill-firebase-color);
}

.project_skill_stack > div:nth-child(3) {
  background-color: var(--skill-postcss-color);
}

.project_skill_stack > div:nth-child(4) {
  background-color: var(--skill-html-color);
}

.project_skill_stack > div:nth-child(5) {
  background-color: var(--skill-css-color);
}

.project_skill_stack > div:nth-child(6) {
  background-color: var(--skill-javascript-color);
  font-size: 0.8rem;
}

.project_skill_stack > div:nth-child(7) {
  background-color: var(--skill-naver-color);
}

.project_skill_stack > div:nth-child(8) {
  background-color: var(--skill-ckeditor-color);
  font-size: 0.8rem;
}

.skill_naver_icon,
.skill_ckeditor_icon {
  width: 14px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media screen and (max-width: 1450px) and (min-width: 1300px) {
}

@media screen and (max-width: 1300px) {
  .projects {
    top: 300%;
    flex-wrap: wrap;
  }

  .project {
    flex-direction: column;
    position: relative;
    height: auto;
  }
}

@media screen and (max-width: 780px) {
  .projects {
    top: 350%;
  }
}

@media screen and (max-width: 670px) {
}
