* {
  box-sizing: border-box;
}

:root {
  --title-font-family: "GongGothicBold";
  --chart-font-family: "Pretendard-Regular";
  --circle-css-color: #0077c2;
  --circle-html-color: #f50057;
  --circle-javascript-color: #fdd835;
  --circle-react-color: #ab47bc;
  --circle-typescript-color: #29b6f6;
  --circle-firebase-color: #ffd600;
}

@font-face {
  font-family: "GongGothicBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.skills {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  color: black;
  font-size: 16px;
  animation: fadeIn 2s;
  visibility: visible;
}

.skills_invisible {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 212%;
  width: 100%;
  height: auto;
  color: black;
  font-size: 16px;
  /* opacity: 0; */
  visibility: hidden;
}

.skills_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.skills_title {
  margin: 2rem auto;
  color: black;
  font-family: var(--title-font-family);
  font-size: 2.3rem;
}

/* circle chart */
.circle_chart_container {
  display: grid;
  grid-template-columns: repeat(3, 15rem);
  grid-template-rows: repeat(2, 15rem);
  position: relative;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 2rem 0;
  margin: 1rem auto;
  border-radius: 1.5rem;
  box-shadow: 23px 23px 58px #c7c7c7, -23px -23px 58px #f9f9f9;
}

/* svg */
.circle_chart {
  display: flex;
}

.chart_typescript,
.chart_javascript,
.chart_react,
.chart_css,
.chart_html,
.chart_firebase {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--chart-font-family);
}

.chart_typescript_text,
.chart_javascript_text,
.chart_react_text,
.chart_css_text,
.chart_html_text,
.chart_firebase_text {
  font-size: 0.9rem;
  font-family: var(--chart-font-family);
  font-weight: 300;
  width: 68%;
}

.chart_outer {
  display: flex;
  stroke: #efefef;
  stroke-width: 2;
  fill: none;
}

.chart_inner_css,
.chart_inner_html,
.chart_inner_javascript,
.chart_inner_react,
.chart_inner_typescript,
.chart_inner_firebase {
  display: flex;
  stroke-width: 2;
  fill: none;
  animation: chart_filling 1.5s reverse;
  transform: rotate(-90deg);
  transform-origin: center;
}

.chart_inner_html {
  stroke: var(--circle-html-color);
}

.chart_inner_css {
  stroke: var(--circle-css-color);
}

.chart_inner_javascript {
  stroke: var(--circle-javascript-color);
}
.chart_inner_react {
  stroke: var(--circle-react-color);
}

.chart_inner_typescript {
  stroke: var(--circle-typescript-color);
}

.chart_inner_firebase {
  stroke: var(--circle-firebase-color);
}

.chart_text {
  animation: chart_upload 2s forwards;
  opacity: 0;
  transform: translateY(0.3em);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes chart_filling {
  to {
    stroke-dasharray: 0 100;
  }
}

@keyframes chart_upload {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1450px) and (min-width: 1300px) {
  .circle_chart_container {
    width: 90%;
  }
}

@media screen and (max-width: 1300px) and (min-width: 781px) {
  .skills_container {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    text-align: center;
  }

  .circle_chart_container {
    display: grid;
    grid-template-columns: repeat(3, 12rem);
    grid-template-rows: repeat(2, 15rem);
    width: 80%;
    margin: 1rem auto;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 780px) {
  .circle_chart_container {
    width: auto;
    padding: 0 1rem;
    grid-template-columns: repeat(2, 12rem);
    grid-template-rows: repeat(3, 17rem);
  }
}

@media screen and (max-width: 670px) {
  .circle_chart_container {
    grid-template-columns: repeat(2, 12rem);
    grid-template-rows: repeat(3, 10rem);
  }

  .circle_chart {
    width: 100;
    height: 100;
  }
}
